<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> PlaceHolder</title>
	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
	function displayImage() {

		document.getElementById('image').src = "{{  path  }}"
		//document.getElementById('image').src = "../static/images27638/img00002.jpg"
		
	
	}
	</script>-->


</head>
<body>
	<h1> PlaceHolder</h1>
	<h2> {{  recipeName  }}</h2>
	<img id="image" src="{{ imgPath }}" height="500" width="500"/>
	<br>
	<p> {{  recipe  }}</p>
	<a id="makeButton" href="/pick/">Yes</a>
	<a id="makeButton" href="/pick2/">No</a>
	<!--
	<button id="start" style="border-radius:10px;">Start</button>
	<button id="yes" onclick="displayImage()" style="color:blue;">Yes</button>
	<button id="no" style="width:60px;height:25px;">No</button> -->

</body>
</html>