<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> Start </title>
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/cover.css" rel="stylesheet">
		<link href="../static/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="site-wrapper">
	      <div class="site-wrapper-inner">
	        <div class="cover-container">
	          <div class="inner cover">
	          	<img class="img-responsive" id="logo" src="../static/logo+textB.png"/>
	          	<div style="width:450px; margin:auto">
	            	<p class="lead">Hungry?</p>
	            	<p class="lead">Have a browse through our recipes that will progressively be tailored to your mood</p>
	            </div>
	            <br>
	            <p class="lead">
	              <a href="/initial/" class="btn btn-lg btn-default">Start</a>
	            </p>
	          </div>

	        </div>

	      </div>

	    </div>

	</body>
</html>

